RAG.json
{
    "name": "UpsertingVectorsPicone",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:getSheetContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3850623
            },
            "mapper": {
                "from": "drive",
                "range": "A1:C30",
                "select": "list",
                "sheetId": "sheet para la prueba(Sheet1)",
                "spreadsheetId": "/1CYlrhFQHU-lZkUJlW_HRTwAdmn-lhGcg/1HfUk6qJMrZZTlq2Mj1cvAG74wNQxjQo5/1EcvBpraj-FYeMhiEkUqyORIuQdzuIdJWlIkqNR9tVmA",
                "includesHeaders": false,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "sheet para la prueba(Sheet1)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Automation",
                                "Assets",
                                "sheet para la prueba(Sheet1)"
                            ]
                        },
                        "includesHeaders": {
                            "mode": "chose"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Company2Connection (erick.hernandez@artify.com.mx)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "A"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "B"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "C"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "fullRangeRecord",
                "scope": "roundtrip",
                "value": "ID: {{1.`0`}}\nPregunta:{{1.`1`}}\nRespuesta:{{1.`2`}}"
            },
            "metadata": {
                "designer": {
                    "x": 379,
                    "y": 5
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "fullRangeRecord",
                        "type": "any",
                        "label": "fullRangeRecord"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "json_safe",
                        "value": "{{replace(replace(replace(replace(replace(replace(replace(5.fullRangeRecord; \"/\\n/g\"; space); \"/\\r/g\"; space); \"/\\t/g\"; space); \"/\\f/g\"; space); \"/\\//g\"; \"/\"); \"/\\\\/g\"; \"\\\\\"); \"/\"\"/g\"; \"\\\"\"\")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 753,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "json_safe",
                        "type": "any",
                        "label": "json_safe"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3849379
            },
            "mapper": {
                "url": "/v1/embeddings",
                "body": "{\"input\": \"{{4.json_safe}}\",\"model\": \"text-embedding-3-small\",\"encoding_format\": \"float\"}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1193,
                    "y": 8
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Embed_sheets_contextRAG"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Query String"
                        },
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "pinecone:fetchVectors",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3850738
            },
            "mapper": {
                "ids": "{{1.`0`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pinecone"
                            },
                            "label": "RAG-connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pinecone",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "ids",
                        "type": "text",
                        "label": "Vector ID",
                        "required": true
                    },
                    {
                        "name": "namespace",
                        "type": "text",
                        "label": "Namespace"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "pinecone:upsertVector",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3850738
            },
            "filter": {
                "name": "If its new creation or vector ID has changed",
                "conditions": [
                    [
                        {
                            "a": "{{7.id}}",
                            "o": "notexist"
                        }
                    ],
                    [
                        {
                            "a": "{{7.metadata.unique_hash}}",
                            "b": "{{sha256(4.json_safe)}}",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{1.`0`}}",
                "values": "{{2.body.data[].embedding}}",
                "metadata": [
                    {
                        "fieldName": "content",
                        "fieldType": "string",
                        "fieldValue": "{{4.json_safe}}"
                    },
                    {
                        "fieldName": "question",
                        "fieldType": "string",
                        "fieldValue": "{{1.`1`}}"
                    },
                    {
                        "fieldName": "unique_hash",
                        "fieldType": "string",
                        "fieldValue": "{{sha256(4.json_safe)}}"
                    }
                ],
                "sparseVector": {}
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "values": {
                            "mode": "edit"
                        },
                        "metadata": {
                            "mode": "chose",
                            "items": [
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                },
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                },
                                {
                                    "fieldType": {
                                        "mode": "chose",
                                        "label": "String"
                                    }
                                }
                            ]
                        },
                        "sparseVector": {
                            "nested": {
                                "values": {
                                    "mode": "chose"
                                },
                                "indices": {
                                    "mode": "chose"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pinecone"
                            },
                            "label": "RAG-connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pinecone",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Vector ID",
                        "required": true
                    },
                    {
                        "name": "values",
                        "spec": {
                            "name": "value",
                            "type": "number",
                            "label": "Value"
                        },
                        "type": "array",
                        "label": "Values",
                        "required": true
                    },
                    {
                        "name": "sparseVector",
                        "spec": [
                            {
                                "name": "indices",
                                "spec": {
                                    "name": "value",
                                    "type": "integer",
                                    "label": "Index"
                                },
                                "type": "array",
                                "label": "Indices"
                            },
                            {
                                "name": "values",
                                "spec": {
                                    "name": "value",
                                    "type": "number",
                                    "label": "Value"
                                },
                                "type": "array",
                                "label": "Values"
                            }
                        ],
                        "type": "collection",
                        "label": "Sparse Vector"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "fieldName",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "fieldType",
                                "type": "select",
                                "label": "Type",
                                "options": [
                                    {
                                        "label": "String",
                                        "value": "string",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Number",
                                        "value": "number",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "number",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Boolean",
                                        "value": "boolean",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "type": "boolean",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "List",
                                        "value": "list",
                                        "nested": [
                                            {
                                                "name": "fieldValue",
                                                "spec": {
                                                    "type": "text",
                                                    "label": "Value"
                                                },
                                                "type": "array",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Metadata"
                    },
                    {
                        "name": "namespace",
                        "type": "text",
                        "label": "Namespace"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": true,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}